@use '../../assets/styles/colors' as *;

.custom-tooltip-line {
    background-color: $third-color;
    padding:.5em;
    color: $default-color;
    font-size: xx-small;
}
.linechartContainer{
    position: relative;
 }
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}