@use '../../assets/styles/colors' as *;

.profil{
    margin: 2em 4em;
    width: 100%;
    h1{
        font-size: 42px;
        span{
            color: $primary-color;
        }
    }
    .graphWrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        place-items: center;
        .graph{
            width: 70%;
            .recharts-responsive-container{
                background-color: $primary-bg;
                border-radius: .25em;
            }
            .row{
                display: flex;
                justify-content: space-between;
                margin-top: 3em;
                .recharts-responsive-container{
                    width: 30%;
                }
            }
        }
        .recap{
            width: 27%;
        }
    }
}