@use '../../assets/styles/colors' as *;

.profil{
    margin: 2em 4em;
    width: 100%;
    h1{
        font-size: 42px;
        span{
            color: $primary-color;
        }
    }
    .graphWrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        place-items: center;
        .graph{
            width: 70%;
            .container{
                border-radius: .25em;
                padding: 1em;
                .graphHeader{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    h2{
                        font-size: smaller;
                    }
                    .legend{
                        color: $secondary-color;
                        font-size: smaller;
                        span{
                            font-size: x-large;
                        }
                    }
                }
            }
            .default{
                background-color: $primary-bg;
            }
            .second{
                background-color: $primary-color;
                margin: 0;
            }
            .third{
                background-color: $black-opacity;
            }
            .row{
                display: flex;
                justify-content: space-between;
                margin-top: 3em;
                .container{
                    width: 27%;
                }
            }
        }
        .recap{
            width: 27%;
        }
    }
}