$default-color: #000;
$primary-color : #e60000;
$secondary-color : #9B9EAC;
$third-color : #fff;
$primary-bg : #fbfbfb;
$secondary-bg : #282D30;
$red-opacity : rgba(255, 1, 1, 0.7);
$gray-opacity : rgba(196, 196, 196, 0.5);
$black-opacity : rgba(0, 0, 0, 1);
