@use 'colors' as *;

:root {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-color;
}

body {
    margin: 0;
    display: flex;
    min-width: 1024px;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}

#root {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

main {
    max-width: 1440px;
    display: flex;
    .home,.error{
        margin: 0 auto;
        justify-items: center;
    }
}